<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/myStyle.css">
    <title>Title</title>
</head>
<body>
{{> header }}
<div id="navBar">
    <a class="navItems" href="/weather">Weather</a>
    <a class="navItems" href="/help">Help</a>
    <a class="navItems" href="/about">About</a>
</div>
<!--<div id="formDiv">-->
<!--    <form>-->
<!--        <div class="page">-->
<!--            <div class="page__demo">-->
<!--                <label class="field a-field a-field_a1 page__field">-->
<!--                    <input class="field__input a-field__input" id="address" placeholder="e.g. Bangalore" required>-->
<!--                    <span class="a-field__label-wrap">-->
<!--        <span class="a-field__label">Location</span>-->
<!--      </span>-->
<!--                </label>-->

<!--            </div>-->
<!--        </div>-->


<!--        &lt;!&ndash;        <input placeholder="Location" id="address">&ndash;&gt;-->
<!--        <br>-->
<!--                <button>Search</button>-->
<!--    </form>-->

<!--</div>-->
<form>
    <div class="container">
        <input type="text" id="address" placeholder="Location...">
        <div class="search"></div>
    </div>
</form>
<div id="weatherDiv">
    <p id="location"></p>
    <p id="weatherForecast"></p>

</div>

{{>footer}}
<script src="../../public/js/app.js"></script>
</body>
</html>
